{# Note edit and view #}
{% extends 'layout.twig' %}

{% block container %}

<nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
        <li><a href="/">Notes</a></li>
        <li class="is-active"><a href="/note">{{ title|default('New') }}</a></li>
    </ul>
</nav>

<form method="POST" action="" enctype="multipart/form-data">

    {%  if errorMsg %}
        <div class="notification is-warning is-light">
            {{ errorMsg }}
        </div>
    {% endif %}

    <div class="field">
        <div class="control">
            <input type="text" name="title" value="{{ title }}" placeholder="Note title" class="input" maxlength="80">
        </div>
    </div>



    <div class="field">
        <div class="control">
            <textarea name="text" class="textarea is-info" id="note-edit" rows="{{ rowsCount }}">{{ text }}</textarea>
        </div>
    </div>

    <div class="field" style="border-radius: 4px; border: 1px solid #3298dc; padding: calc(.75em - 1px);">
        <ul>
        {% for file in files %}
            <li>
                <a href="{{ file.href }}">{{ file.basename }}</a>
                <button class="delete js-remove-attach" data-note-id="{{ id }}" data-filename="{{ file.basename }}"></button>
            </li>
        {% else %}
            <li>No attachments</li>
        {% endfor %}
        </ul>

        <p style="margin-bottom: .75em;"></p>

        <div class="field">
            <div class="control">
                <input type="file" id="upload-inp" name="upload-inp">
            </div>
        </div>
    </div>

    <input type="submit" value="[ Save ]" class="button is-info">

</form>

<p>
    To attach image or screenshot: first press <code>Ctrl+Shift+PrntScrn</code>,
    than paste it by pressing <code>Ctrl+V</code>.
</p>


{% endblock %}

{% block javascript %}
{# #}
<script>
    // @todo #28 transform note code to js-module
    $('.js-remove-attach').on('click', (event) => {
        event.preventDefault();
        event.stopPropagation();

        if (! confirm("Remove file?")) {
            return;
        }

        console.log('id',  $(event.target).data('note-id') );
        console.log('filename',  $(event.target).data('filename') );

        $.post(
            "/remove-attach",
            {
                'noteId' : $(event.target).data('note-id'),
                'filename' : $(event.target).data('filename')
            },
            'json'
        ).done(
            (data) => {
                let resp = JSON.parse(data);
                console.log('data', resp);
                if (resp == 'ok') {
                    $(event.target).closest('li').hide('slow');
                } else {
                    alert("Error: " + resp);
                    console.log(resp);
                }
            }
        ).fail((jqXHR, textStatus) => {
                alert("Remove attach request failed, try again or open console for debug. textStatus=" + textStatus);
                console.log(jqXHR);
            }
        );
    });
</script>

<script src="public/js/pasteimage.js"></script>
<script>
    new AGTextareaUploader(
        document.getElementById('note-edit'),
        '/paste-image'
    ).run();
</script>
{% endblock %}
